*{
  padding: 0;
  margin: 0;
}
.border-line{
  position: absolute;
  top: 40px;
  left: 2px;
  width: 45px;
  height: 2px;
}
header, main, footer{
	min-width: 1170px;
}
header{
  position: fixed;
	width: 100%;
	height: 150px;
  background-color: rgba(53, 63, 70, 0.85);
  z-index: 100;
}
header .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 61%;
  height: 150px;
  margin: auto;
}
header .head .logo{
  font-size: 30px;
  font-weight: bold;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 24px;
  color: white;
}
header .head .logo span{
  color: #4bcaff;
}
.main-menu{
  list-style: none;
}

.main-menu li{
  display: inline-block;
}
.main-menu li a{
  display: inline-block;
  margin-left: 0.7%;
  padding: 13px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 10px;
  color: white;
  transition:
    border-color 400ms ease-in-out,
    color 800ms ease-in-out;
}
.main-menu li a:hover{
    padding: 11px 18px;
    border: 2px solid #4bcaff;
    color: #4bcaff;
}
#services, #portfolio, #contact, #features{
  border-top: 150px solid transparent;
  margin-top: -150px;
  background-clip: padding-box;
}
.greeting{
	display: flex;
	justify-content: center;
	align-items: center;
  width: 100%;
  height: 800px;
  background-image: url(../src/header-bg.png);
  color: white;
  font-weight: 100;
}
.greeting p{
	position: absolute;
	top: 400px;
	left: 46,5%;
	text-align: center;
}
.greeting p span{
	display: inline-block;
	margin-bottom: 12px;
	padding: 18px 16px 17px 24px;
	background-color: #4b555d;
	color: white;
  font-size: 42px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 30px;
}
.services {
  width: 100%;
  height: 405px;
  background-color: #4bcaff;
}
.services .container{
  width: 1170px;
  margin: auto;
  padding-top: 80px;
}
.logo-services{
  position: relative;
  margin-bottom: 39px;
  font-size: 30px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  color: white;
}
.logo-services .border-line{
  background-color: white;
}
.services-elements{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.services-elements li{
  width: 270px;
  height: 175px;
}
.services-elements .coffee .img-coffee{
  width: 48px;
  height: 48px;
  background: url(../src/img-coffee.png) no-repeat 0 0;
}
.services-elements .instant .img-instant{
  width: 48px;
  height: 48px;
  background: url(../src/img-instant.png) no-repeat 0 0;
}
.services-elements .serious .img-serious{
  width: 48px;
  height: 48px;
  background: url(../src/img-serious.png) no-repeat 0 0;
}
.services-elements .frame .img-frame{
  width: 48px;
  height: 48px;
  background: url(../src/img-frame.png) no-repeat 0 0;
}
.services-elements li h2{
  font-size: 24px;
  font-family: "Segoe UI Semibold", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: white;
}
.services-elements li p{
  font-size: 12px;
  line-height: 18px;
  font-family: "Segoe UI Semibold", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: white;
}
.portfolio{
  width: 100%;
  height: 844px;
  background-color: white;
}
.portfolio .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding-top: 80px;
}
.portfolio .head .logo{
  position: relative;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: #515f67;
}
.portfolio .head .logo .border-line{
  background-color: #515f67;
}
.photo-filter{
  list-style: none;
}
.photo-filter li{
  display: inline-block;
  text-decoration: none;
}
.photo-filter li button{
  margin-left: 50px;
  border-radius: 0;
  border: none;
  background: none;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #515f67;
}
.photo-filter li:first-child button{
  margin-left: 0;
}
.photo-filter li button{
  border: none;
  outline: none;
}
.photo-filter .active button{
  border: 2px solid #4bcaff;
  color: #4bcaff;
  padding: 8px 15px;
}
.photo-filter .active button:focus{
  border: 2px solid #4bcaff;
  color: #4bcaff;
}
.photos{
  width: 1170px;
  margin: auto;
  margin-top: 80px;
  list-style: none;
}
.photos .first-line{
  margin-bottom: 30px;
}
.photos .first-line,
.photos .second-line{
  display: flex;
  justify-content: space-between;
}
.photos .first-line li,
.photos .second-line li{
  display: inline-block;
}
.photos .first-line button,
.photos .second-line button{
  position: relative;
  border:none;
  background: none;
  font-size: 0;
  outline: none;
}
.photos .hover,
.photos .hover{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 270px;
  height: 270px;
  background-color: rgb(53, 63, 71);
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}
.photos button:hover .hover,
.photos button:hover .hover{
  opacity: 0.9;
}
.photos .hover::after,
.photos .hover::after{
  content: "";
  display: block;
  margin: 118.5px 119px;
  width: 32px;
  height: 33px;
  background: url(../src/photo-hover-plus.png) no-repeat 0 0;
  transition: transform 800ms ease-in-out;
}
.photos button:hover .hover::after,
.photos button:hover .hover::after{
  transform: rotate(180deg);
}
.default-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 473px;
  background-color: #515f67;
}
.default-section .container{
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: auto;
}
.default-section .container .left-column h2{
  position: relative;
  margin-bottom: 42px;
  font-size: 30px;
  font-weight: 100;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: white;
}
.default-section .container .left-column h2 .border-line{
  left: 0;
  background-color: white;
}
.default-section .container .left-column p{
  font-size: 14px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: white;
  margin-bottom: 12px;
}
.default-section .container .left-column a{
  display: block;
  width: 59px;
  padding: 16px 39px 15px 38px;
  border: 2px solid #353f46;
  font-size: 14px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: #353f46;
  text-decoration: none;
  transition:
    border-color 800ms ease-in-out,
    color 800ms ease-in-out;
}
.default-section .container .left-column a:hover{
  border-color: #4bcaff;
  color: #4bcaff;
}
.twitter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 307px;
  background-color: #4bcaff;
}
.twitter .container{
  width: 1170px;
}
.twitter .container .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.twitter .container .head h2{
  position: relative;
  font-size: 30px;
  font-weight: 100;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: white;
}
.twitter .container .head h2 .border-line{
  background-color: white;
}
.twitter .container .head .logo{
  width: 26px;
  height: 22px;
  background: url(../src/twitter-icon.png) no-repeat 0 0;
}
.twitter .container p{
  width: 1070px;
  margin-top: 38px;
  font-size: 28px;
  line-height: 50px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  color: white;
}
.twitter .container p b{
  font-family: Myriad Pro;
}
.who-is{
  width: 100%;
  height: 505px;
  background: url(../src/bg-who-is.png) no-repeat 0 0;
}
.who-is h2{
  position: relative;
  display: block;
  width: 1170px;
  margin: auto;
  margin-top: 95px;
  font-size: 30px;
  font-weight: 100;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: white;
}
.who-is h2 .border-line{
  background-color: white;
}
.who-is .container{
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: auto auto;
  margin-top: 40px;
  color: white;
}
.who-is .container p{
  font-size: 14px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: white;
}
.who-is .container .left-column p:first-child{
  margin-bottom: 33px;
}
.who-is .container .right-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 161px;
}
.who-is .container .right-column ul{
  list-style: none;
}
.who-is .container .right-column ul li{
  display: inline-block;
}
.who-is .container .right-column ul li a{
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 2px solid white;
}
.who-is .container .right-column ul .twitter-soc a{
  background: url(../src/icon-twitter.png) no-repeat 16px 19px;
}
.who-is .container .right-column ul .google-plus a{
  background: url(../src/icon-google-plus.png) no-repeat 16px 19px;
}
.who-is .container .right-column ul .dribbble a{
  background: url(../src/icon-dribbble.png) no-repeat 16px 19px;
}
.who-is .container .right-column ul .coffee a{
  background: url(../src/icon-coffee.png) no-repeat 16px 19px;
}
.testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 360px;
  background-color: white;
}
.testimonials .container{
  position: relative;
  width: 1170px;
}
.testimonials .container h2{
  position: relative;
  font-size: 30px;
  font-weight: 100;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: black;
}
.testimonials .container h2 .border-line{
  background-color: black;
}
.testimonials .container p:first-of-type{
  margin-top: 40px;
  font-size: 28px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  color: black;
}
.testimonials .container p:last-of-type{
  margin-top: 38px;
  font-size: 16px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #4bcaff;
}
.testimonials .container .quotes{
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 26px;
  background: url(../src/img-quotes.png) no-repeat 0 0;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 814px;
  width: 100%;
  background: url(../src/bg-contact.png) no-repeat 0 0;
}
.contact .container{
  width: 1170px;
}
.contact .container h2{
  position: relative;
  font-size: 30px;
  font-weight: 100;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: white;
}
.contact .container .border-line{
  background-color: white;
}
.contact .container h3 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: white;
}
.contact .container p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
  font-family: Myriad Pro;
  color: white;
}
.contact .container .full-name input{
  width: 466px;
  height: 56px;
  border: 2px solid white;
  background-color: transparent;
}
.contact .container .email input{
  width: 466px;
  height: 56px;
  border: 2px solid white;
  background-color: transparent;
}
.contact .container .message input{
  width: 100%;
  height: 216px;
  border: 2px solid white;
  background-color: transparent;
}
.contact .container .middle{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 35px;
  margin-bottom: 25px;
}
.contact .container .right-column p:first-child{
  margin-bottom: 30px;
}
.contact .container .full-name{
  display: block;
  margin-bottom: 35px;
}
.contact .container .email{
  display: block;
  margin-bottom: 10px;
}
.contact .container .sumbit{
  width: 370px;
  height: 60px;
  margin-top: 40px;
  border: none;
  background-color: #4bcaff;
  text-align: center;
  vertical-align: middle;
  color: white;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
  background-color: #353f47;
}
footer .container{
  font-size: 0;
  width: 1170px;
}
footer .container ul{
  list-style: none;
}
footer .container ul li{
 display: inline-block;
}
footer .container ul li a{
  padding: 0 14px 3px 12px;
  border-right: 2px solid #4a575f;
  color: #4a575f;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
}
footer .container ul li:last-child a{
  border: none;
}